:root /*Custon Properties*/
{
    --blanco: #ffffff;
    --oscuto: #212121;
    --Primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html
{
    font-size: 62.5%;
}
body
{
    font-size: 16px; /*1 rem = 10px*/
    font-family: 'Krub', sans-serif;
}
.Titlee
{
    text-align: center;
    font-size: 3.8rem;
}
/*this is spam*/
.Titlee span
{
   font-size:  2rem;
   color: blue;
}

