:root /*Custon Properties*/
{
    --blanco: #ffffff;
    --oscuro: #212121;
    --Primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html
{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body
{
    font-size: 16px; /*1 rem = 10px*/
    font-family: 'Krub', sans-serif;
}
.Titlee
{
    text-align: center;
    font-size: 3.8rem;
}
/*this is spam*/
.Titlee span
{
   font-size:  2rem;
}
.contenedor
{
    max-width: 120rem;
    margin: 0 auto;
}
.nav-bg
{
    background-color: var(--secundario);
}
.Navegacion-principal
{  
    display: flex;
    flex-direction: column; 
    
}

/*Media qurie 768px*/
@media(min-width: 768px)
{
    .Navegacion-principal
    {
        flex-direction: row;
        justify-content: space-evenly;
    } 
}

.Navegacion-principal a
{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem; 
}
/*Firts pseudoclass*/
.Navegacion-principal a:hover
{
    background-color: var(--Primario);
    color: var(--oscuro);
}
/*Responsive Web Desing*/

@media(min-width: 480px){
  h1
  {

  }
}
/*Second*/
@media(min-width: 768px){
  h1
  {

  }
}
.hero
{
    background-image: url(../img/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
}